<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>BidiBidi</title>]
</head>
<body>
    <section id="header">
        <div class="container">
            <header class="d-flex flex-wrap py-3 mb-4 border-bottom">
            <span class="fs-4 navbar-brand me-auto">BidiBidi</span>
    
            <div class="align-items-end">
                <ul class="nav nav-pills align-items-end">
                    <li class="nav-item"><a href="/" class="nav-link link-secondary" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/editor" class="nav-link link-secondary"> Avaliar</a></li>
                  </ul>
    
            </div>

    </section>

    <section id="body">
        <div class="container m-3">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </form>
              <div>
                sort by
                <br>
                form to change order
              </div>
        </div>
        <!-- resultados abaixo-->
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img src="/booking/public/img/0385472579-M.jpg" alt="">
              

            </div>
            <div class="col-8">
              <h4>Titulo</h4>
              <h6>Autor, data do livro</h6>
              <p>Nota 10:10,  Avaliado por Marcelo</p>
              <p class="text-area-index">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus ante, congue sit amet dignissim id, volutpat id mi. Donec convallis odio quis odio lacinia sodales. Fusce ut purus eu ligula scelerisque scelerisque. Donec eget sapien et nisl condimentum viverra. Fusce id imperdiet leo, id gravida tellus. Proin eu molestie odio. Donec aliquam lorem eget nulla convallis, a pulvinar tellus pretium. Etiam id ipsum est. Duis non metus semper, pharetra ipsum eget, scelerisque risus. Quisque bibendum, tortor et finibus dapibus, diam enim vehicula enim, vel molestie nunc nisl vel risus. Quisque ultrices lectus in ligula hendrerit luctus. Morbi sodales, ante sed facilisis mollis, leo diam egestas est, id porta magna lorem eu mi. </p>
              <a href="">Veja a avaliação completa</a>

            </div>

          </div>

        </div>
     


    </section>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <span class="mb-3 mb-md-0 text-body-secondary">© 2024.Desenvolvido por <a class="link-secondary" href="https://drummondmd.github.io/angelin/">ADSF</a></span>
            </div>         
          </footer>

    </div>

    

</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</html>